/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #4f627a28;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4f627a;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #475b72;
}